apiVersion: apps/v1
kind: Deployment
metadata:
  name: kenny-redis
  namespace: kenny
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kenny-redis
  template:
    metadata:
      labels:
        app: kenny-redis
    spec:
      containers:
        - name: redis
          image: redis:alpine
          ports:
            - containerPort: 6379
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "300m"
              memory: "256Mi"