apiVersion: apps/v1
kind: Deployment
metadata:
  name: kenny-postgres
  namespace: kenny
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kenny-postgres
  template:
    metadata:
      labels:
        app: kenny-postgres
    spec:
      containers:
        - name: postgres
          image: postgres:15-alpine
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: kenny-db-credentials
                  key: POSTGRES_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: kenny-db-credentials
                  key: POSTGRES_PASSWORD
          resources:
            requests:
              cpu: "200m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
          volumeMounts:
            - mountPath: /var/lib/postgresql/data
              name: postgres-data
      volumes:
        - name: postgres-data
          emptyDir: {}